interactions:
- request:
    body: '{"msgtype": "image", "image": {"picURL": "http://uc-test-manage-00.umlife.net/jenkins/pic/flake8.png"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    method: POST
    uri: https://oapi.dingtalk.com/robot/send?access_token=6eab6a1161ea33c2693aae53fe92c298469f685aed8261ffdfd15d2bcfc5ed89&timestamp=1684808887395&sign=LmvPIB%2B17m20usEGK24KNBxHf2%2Bsmc%2Ble0JDVRNsCfA%3D
  response:
    content: '{"errcode":0,"errmsg":"ok"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
