interactions:
- request:
    body: '{"msgtype": "feedCard", "feedCard": {"links": [{"title": "\u6c27\u6c14\u7f8e\u5973",
      "picURL": "http://pic1.win4000.com/wallpaper/2020-03-11/5e68b0557f3a6.jpg",
      "messageURL": "dingtalk://dingtalkclient/page/link?url=https%3A%2F%2Fwww.dingtalk.com%2F&pc_slide=false"},
      {"title": "\u6c27\u773c\u7f8e\u5973", "picURL": "http://pic1.win4000.com/wallpaper/2020-03-11/5e68b0557f3a6.jpg",
      "messageURL": "dingtalk://dingtalkclient/page/link?url=https%3A%2F%2Fwww.dingtalk.com%2F&pc_slide=false"},
      {"title": "\u6c27\u795e\u7f8e\u5973", "picURL": "http://pic1.win4000.com/wallpaper/2020-03-11/5e68b0557f3a6.jpg",
      "messageURL": "dingtalk://dingtalkclient/page/link?url=https%3A%2F%2Fwww.dingtalk.com%2F&pc_slide=false"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    method: POST
    uri: https://oapi.dingtalk.com/robot/send?access_token=6eab6a1161ea33c2693aae53fe92c298469f685aed8261ffdfd15d2bcfc5ed89&timestamp=1684811503389&sign=YdenTn0tb5q6Tdxhpi%2BkaxICiKNJ3fd4IN30A%2BLY290%3D
  response:
    content: '{"errcode":0,"errmsg":"ok"}'
    headers:
      Content-Type:
      - application/json
    status_code: 200
version: 1
